* {
  -webkit-tap-highlight-color: transparent;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {outline: none;}
}

:root {
  --bgColor:  #FFF;
  --baseColor: black;
  --bracketColor: black;

  --card: #F5F5F5;
  --alpha: 0.3;
  
  --lightestShade: hsl(50, 18%, 95%);
  --lighterShade: hsl(50, 25%, 92%);
  --darkShade: hsl(50, 20%, 50%);
  --darkerShade: hsl(50, 18%, 35%);
  --darkestShade: hsl(50, 18%, 25%);

  --focusColor: hsl(50, 37%, 86%);
  --emphasisColor: hsl(50, 37%, 45%);
  --correctColor: hsl(130, 35%, 35%);

  --hueShiftIcons: unset ;

  color-scheme: light;
  color: black;

  *::before, *::after {color: black;}

  &.dark *, &.dark *::before, &.dark *::after {
    box-shadow: none !important;
  }
}

/*  Prevent mismatch between viewport and body dimensions */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body, .page {
  overflow: hidden;
  background-color: var(--bgColor);
}

.page.slideout {
  opacity: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  position: absolute;

  opacity: 1;
  transition: opacity 0.18s, translate 0.4s;

  will-change: opacity;

  
  @starting-style {
    opacity: 0;
  }
}

.nudged, .nudged::after {
  transform: scale(0.95);
}

.dialog_button {
  border: 0;
  outline: 0;

  margin: 0;

  cursor: pointer;

  z-index: 1;

  opacity: 1;
  transition: opacity 0.05s, transform 0.1s;

  filter: var(--hueShiftIcons);
}

@media(hover: hover) and (pointer: fine) {
  .dialog_button:hover { opacity: 0.65; }
}

.dialog_button:focus {
  opacity: 0.65;
}


.close {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer
}

.close:hover:before, .close:hover:after {
  opacity: 0.75;
}
.close:before, .close:after {
  border-radius: 10px;
  left: 15px;
  content: ' ';
  height: 28px;
  width: 1px;
  background-color: var(--bracketColor);
  position: absolute;
  
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}





#overlay {
  position: fixed; 
  display: block; 
  width: 100%; 
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  background-color: rgba(0,0,0,var(--alpha));
  opacity: 0;
  transition: opacity .2s;
}

html:has(dialog[open]) #overlay {
  height: 100%;
  opacity: 0.45;
}
html:has(dialog.hide) #overlay {
  opacity: 0 !important;
}


dialog {
  outline: 0;
  
  position: fixed;
  margin: auto;
  display: block;
  background-color: var(--bgColor);
  font-family: "source serif 4";
  width: min(80vw, 500px);
  height: 52vh;
  max-height: min-content;
  visibility: hidden;
  opacity: 0;
  padding-bottom: 35px;

  color: var(--baseColor);


  border-radius: 12px;

  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  
  transition: opacity 0.25s, transform cubic-bezier(.25,1,.25,1) 0.25s;
  transform: scale(0);
}

dialog::backdrop {
  opacity: 0;
}

dialog[open] {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  border: 1px solid light-dark(transparent, var(--darkestShade));

  box-shadow: 0 0 5px rgb(0,0,0,0.05), 0 0 8px rgba(0, 0, 0, 0.075),
  0 0 30px rgb(0,0,0,0.075);
}
dialog.hide {
  transition: transform ease-in 0.1s, opacity ease-in 0.1s;
  transform: scale(75%);
  opacity: 0;
}


dialog {
  h1 {
    margin-top:-8px;
    margin-bottom: 15px;
    font-size: 1.95rem;
    font-weight: 800;
    text-align: center;

  }
}



#settings_dialog {
  max-width: 400px
}

#configs {
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 1.4rem;
  font-weight: 400;
  display:flex;
  align-items: flex-end;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;

  

  #wrap_theme {
    width: 100%;
    display: flex;
    label {margin-right: 10px;}
  }
  .theme {
    margin: 0;
    margin-bottom: 2px;
    appearance: none;
    height: 30px;
    width: 50px;
    background-color: #C0C0C0;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    transition: filter 0.1s ease;
    margin-right: 4px;
    
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      top: 25%;
      left: 25%;
      border-radius: 19px;

    }
  }

  .theme:checked {
    border: 3px dashed var(--emphasisColor) !important;
  }

  #frostdark {
    margin-right: auto;
  }

  #litlight, #frostlight {
    background-color: #FFF;
    border: 1px solid #CCC;
  }
  #litdark, #frostdark {
    background-color: #111;
  }

  #litlight::after, #litdark::after {
    background-color: hsl(50, 37%, 45%);
  }

  #frostlight::after, #frostdark::after {
    background-color: hsl(200, 37%, 45%);
  }
  .toggle {
    margin: 0;
    margin-bottom: 2px;
    appearance: none;
    height: 26px;
    width: 60px;
    background-color: #C0C0C0;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .toggle::before {
    content: '';
    display: block;
    height: 18px;
    width: 21px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 16px;
    background-color: #3f3f3f;
    border-radius: 18px;
    transition: all 0.2s ease;
  }
  input:hover {
    filter: brightness(90%);
  }
  input:focus {
    outline: 0;
    filter: brightness(90%);
  }

  .toggle:checked {
    background-color: #A4C1A0;
  }

  .toggle:checked::before {
    background-color: #3e4d3c;
    left: calc(100% - 16px);
  }

  p {
    margin: 0;
    font-style: italic;
    font-weight: 350;
    font-size: 1rem;
    flex-basis:100%;
    text-align: left;
  }

}
