* {
  -webkit-tap-highlight-color: transparent;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {outline: none;}
}

/*  Prevent mismatch between viewport and body dimensions */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  opacity: 1;
  transition: opacity 0.2s;
}
body.fadeout {
  opacity: 0;
}

body.fadein {
  opacity: 1;
}

.nudged {
  transform: scale(0.95);
}


@media(hover: hover) and (pointer: fine) {
  .dialog_button.home:hover { opacity: 0.72; }
}


.close {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
}
.close:hover:before, .close:hover:after {
  background-color: #000000;
}
.close:before, .close:after {
  border-radius: 10px;
  left: 15px;
  content: ' ';
  height: 28px;
  width: 1px;
  background-color: #444444;
  position: absolute;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}





#overlay {
  position: fixed; 
  display: block; 
  width: 100%; 
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  background-color: rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity .2s;
}

#overlay:has(~ dialog[open]),
#overlay:has(~ #menu > dialog[open]){
  height: 100%;
  opacity: 0.45;
}
#overlay:has(~ .hide ),
#overlay:has(~ #menu > .hide) {
  opacity: 0 !important;
}


dialog {
  outline: 0;
  
  position: fixed;
  margin: auto;
  display: block;
  
  font-family: "source serif 4";
  width: min(80vw, 500px);
  height: 52vh;
  visibility: hidden;
  opacity: 0;

  border-radius: 12px;
  
  transition: opacity 0.25s, transform cubic-bezier(.25,1,.25,1) 0.25s;
  transform: scale(0);
}

dialog::backdrop {
  opacity: 0;
}

dialog[open] {
  transform: scale(1);
  opacity: 1;
  border: 0px solid rgb(0,0,0,0.15);
  visibility: visible;
  box-shadow: 0 0 5px rgb(0,0,0,0.05), 0 0 8px rgba(0, 0, 0, 0.075),
  0 0 30px rgb(0,0,0,0.075);
}
dialog.hide {
  transition: transform ease-in 0.1s, opacity ease-in 0.1s;
  transform: scale(75%);
  opacity: 0;
}


dialog {
  h1 {
    margin-top:-8px;
    margin-bottom: 20px;
    font-size: 1.95rem;
    font-weight: 800;
    text-align: center;

  }
  label {
    margin-right: 1px;
  }
  input {
    margin: 0;
    margin-bottom: 2px;
    appearance: none;
    height: 26px;
    width: 60px;
    background-color: #C0C0C0;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  input::before {
    content: '';
    display: block;
    height: 18px;
    width: 21px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 16px;
    background-color: #3f3f3f;
    border-radius: 18px;
    transition: all 0.2s ease;
  }
  input:hover {
    filter: brightness(94%);
  }
  input:focus {
    outline: 0;
    filter: brightness(94%);
  }

  input:checked {
    background-color: #A4C1A0;
  }

  input:checked::before {
    background-color: #3e4d3c;
    left: calc(100% - 16px);
  }

  p {
    margin: 0;
    font-style: italic;
    font-weight: 350;
    font-size: 1rem;
    flex-basis:100%;
    text-align: left;
  }

}
