:root {
  --bgColor:  #FFF;
  --baseColor: black;
  /*
     --cellColor: hsl(200, 15%, 96%);
     --cellBottomColor: hsl(200, 15%, 25%);
   */

  --lightestShade: hsl(50, 18%, 95%);
  --lighterShade: hsl(50, 25%, 92%);
  --darkShade: hsl(50, 20%, 50%);
  --darkerShade: hsl(50, 18%, 35%);
  --darkestShade: hsl(50, 18%, 25%);

  --focusColor: hsl(50, 43%, 85%);
  --emphasisColor: hsl(50, 43%, 44%);
  --correctColor: hsl(130, 35%, 35%);
  
  --successPrompt: "Next level...";
  --rows: 2;
  --cols: 2;
  
  --fontFactor: 1;
  --widthFactor: 1;
  --heightFactor: 1;
  --widthSubtrahend: 0;
  --heightSubtrahend: 0;
  
  --axisFontSize: clamp(0.85rem, 3.5vh, 2rem);
  --gridGap: 8px;
  --gridPadding: 20px;
  --gridBorderWidth: 4px;
  --gridOffset: 1.5vh;
  --maxGridWidth: calc(min(38vh, 80vw) + 2 * var(--gridPadding) + 2 * var(--gridBorderWidth));
    --gridWidth: calc(var(--widthFactor) * min(38vh, 80vw) - (1 - var(--widthFactor)) * var(--gridGap));
    --gridHeight: calc(var(--heightFactor) * min(38vh, 80vw) - (1 - var(--heightFactor)) * var(--gridGap));
    
    --fullGridWidth: calc(var(--gridWidth) + 2 * var(--gridPadding) + 2 * var(--gridBorderWidth));
    --fullGridHeight: calc(var(--gridHeight) + 2 * var(--gridPadding) + 2 * var(--gridBorderWidth));

    --domainButtonHeight: 56px;
}

@property --lightBlue {
  syntax: '<color>';
  initial-value: rgb(110,155,250,.28);
  inherits: false;
}

@property --darkBlue {
  syntax: '<color>';
  initial-value: rgb(110,155,250,.51);
  inherits: false;
}


body {
  background-color: var(--bgColor);
}

#domain.correct {
  justify-content: right;
  transition: gap 0.6s, bottom 0.6s;
  gap: 0px;
  bottom: calc(0.15 * var(--domainButtonHeight));

  overflow: hidden;

  button:not(:first-child) {
    transition:   width 0.8s ease, min-width 0.8s; bottom 0.35s ease;

    will-change: width, min-width, bottom;

    width: 0;
    bottom: -8px;
    min-width: 0px;

    &::before {transition: opacity 0.1s; opacity: 0;}
    p {
      transition: opacity 0.35s;
      opacity: 0;
    }

    pointer-events: none;
  }


  button:first-child {
    height: var(--domainButtonHeight);
    width: 100%;
    border: 1px solid black;
    background: repeating-linear-gradient(45deg, var(--lightBlue),  var(--darkBlue) , var(--lightBlue) 600px);
    background-size: calc(600px/sin(45deg)) 100%;
    animation: glow 2.5s linear infinite reverse;
    transition: --lightBlue 0.25s, --darkBlue 0.25s, box-shadow 0.25s;

    box-shadow: 0 0 3px 1px rgb(110,155,250,.17) !important;

    overflow: hidden;
    
    &>.ripple {
      background: rgb(110,155,250);
      transition: all .6s;
      &.run {
        opacity: 1 !important;
        transform: scale(400);
      }
    }

    p {
      transition: font-size 0.1s, opacity 0.1s;
      font-size: 0;
      opacity: 0;
    }
  }

  button:first-child:focus {
    --lightBlue: rgb(110,155,250,.5) ;
    --darkBlue: rgb(110,155,250,.73);
    box-shadow: 0 0 3px 1px rgb(110,155,250,.4) !important;
    
  }


  button:first-child.activated {
    transition: --lightBlue 0.25s, --darkBlue 0.25s, box-shadow 0.25s, background 0.4s;
    background-color: rgb(110,155,250);
    &::before {
      color: white;
    }
  }
  button:first-child::before {
    content: var(--successPrompt);
    background: transparent;
    font-family: "Source Serif 4";
    animation: spring 0.8s ease-out forwards;
    font-weight: 375;
    font-style: italic;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
    line-height: 3.25rem;
    transition: color 0.21s;

    filter: unset !important;

  }
}

@media (hover: hover) and (pointer: fine) {
  #domain.correct button:first-child:hover {
    --lightBlue: rgb(110,155,250,.5) ;
    --darkBlue: rgb(110,155,250,.73);
    box-shadow: 0 0 3px 1px rgb(110,155,250,.4) !important;
  }
}

@keyframes glow {
  0% {
    background-position: calc(600px/sin(45deg)) 0;
  }
}

@keyframes spring {
  0% { font-size: 0rem; }
  100% { font-size: 2.25rem; }
}

#wrap_home_level {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  gap: 3px;
  top: 2.25vmin;
  left: 2.25vmin;
  width: min-content;
  height: 37px;
  cursor: pointer;
}

#home {
  background-image: url("../assets/HOME.svg");
  background-size: 100% 100%;
  display: inline-block;
  min-height: 37px;
  min-width: 37px;
  border: 0;
  flex-basis: 100%;
  background-color: transparent;
  cursor: pointer;
}

#wrap_home_level:has(~ #menu > #menu_checkbox:checked) #level, #wrap_home_level:has(~ #menu > #menu_checkbox:checked) #difficulty {
  opacity: 1;
}

#level {
  font-family: "computer modern serif";
  font-weight: lighter;
  font-size: 1.5rem;

  position: relative;
  bottom: 2px;
  width: min-content;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
#difficulty {
  font-family: "source serif 4";
  font-style: italic;
  font-weight: 365;
  font-size: 0.9rem;
  display: block;
  max-height: 2px;
  position: relative;
  bottom: 14px;
  margin: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

#menu {
  position: absolute;
  top: 2vmin;

  /* Align #chevron */
  text-align: center;

  #menu_checkbox {
    display: block;
    width: 45px;
    height: 45px;

    position: absolute;
    top: -6px;
    left: -6px;

    cursor: pointer;

    opacity: 0;
    z-index: 1;
  }

  #chevron {
    position: relative;
    top: 0px;
    transition: top 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #chevron:before {
    content: "";

    display: inline-block;
    height: 24px;
    width: 24px;

    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    border-radius: 0px;

    rotate: 45deg;
    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu_checkbox:checked ~ #chevron:before {
    transform: rotate(180deg);
  }
  #menu_checkbox:checked ~ #chevron {
    /* Counteract apparent upwards-shift caused by rotating chevron */
    top: 15px;
  }

  ul {
    width: 100%;
    margin-top: 22px;
    padding: 0;

    list-style-type: none;

    transform: translateY(-500%);
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu_checkbox:checked ~ ul {
    transform: none;
  }

  li {
    display: block;
    height: 39px;
    width: 100%;
    margin-bottom: 14px;

    cursor: pointer;

    z-index: 1; /* Otherwise hitbox gets covered by #wrap_main spacing */

    opacity: 1;
    transition: opacity 0.2s, transform 0.1s;
  }

  @media(hover: hover) and (pointer: fine) {
    li:hover { opacity: 0.72; }
  }


  #info { content: url("../assets/INFO.svg"); }
  #dictionary { content: url("../assets/DICTIONARY.svg"); }
  #notes { content: url("../assets/NOTES.svg"); }
  #settings { content: url("../assets/SETTINGS.svg"); }
}

#configs {
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 1.4rem;
  font-weight: 400;
  display:flex;
  align-items: flex-end;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}


#wrap_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



#wrap_axis_grid {
  display: grid;

  grid-template-columns:  var(--axisFontSize) var(--fullGridWidth);
  grid-template-rows: var(--fullGridHeight) var(--axisFontSize);

  justify-content: center;

  width: 100%;

  position: relative;
  
}


#y-axis, #x-axis {
  display: flex;
  font-family: "Computer Modern Serif";

  span {
    font-size: var(--axisFontSize);
    width: 100%;
    align-content: center;
    text-align: center;
    height: 100%;
    cursor: default;
    z-index: 1;
    font-style: italic;

    box-sizing: border-box;
  }
}
#y-axis {
  flex-direction: column;

  gap: var(--gridGap);

  position: relative;
  top: calc(var(--gridPadding) + 4px);
  right: 3px;

  width: min-content;
  height: calc(var(--fullGridHeight) - 2 * var(--gridPadding) - 2 * var(--gridBorderWidth));


}

#x-axis {
  flex-direction: row;
  
  position: relative;
  left: calc(var(--axisFontSize) + var(--gridBorderWidth) + var(--gridPadding) - 4px);

  gap: var(--gridGap);

  height: min-content;
  width: calc(var(--fullGridWidth) - 2 * var(--gridPadding) - 2 * var(--gridBorderWidth));

}


#grid::before {
  content: "";
  position: absolute;
  background-color: white;
  top: -5%;
  width: 77.5%;
  height: 110%;
}


#grid {
  align-self: center;
  grid-gap: var(--gridGap);

  padding: var(--gridPadding);
  position: relative;

  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  box-sizing: content-box;
  
  border: var(--gridBorderWidth) solid black;
  border-radius: 2px;
  
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);

  width:  var(--gridWidth);
  height: var(--gridHeight);

  
  span {
    font-family: "computer modern serif";
    text-align: center;
    outline: 1px solid transparent; /* For crosshairs */
    transition: background-color .1s ease-in, border .1s ease-in, outline-color 0.2s ease, transform 0.8s ease;
    
    width: 100%;
    height: 100%;
    
    border-radius: 2px;

    font-size: clamp(1rem, calc(9vh * var(--fontFactor)), calc(4rem * var(--fontFactor)));
    color: var(--baseColor);
    
    z-index: 1;

    box-sizing: border-box;

    display: flex;

    justify-content: center;
    align-items: center;
    
    cursor: pointer;

    &:has(.ripple) {
      transition: background-color .21s ease-in, outline-color 0.2s ease, transform 0.8s ease;
    }

  }



  span:not(.given) {
    background-color: var(--lightestShade);
    
    border-bottom: 4px solid var(--darkestShade);
  }


  @media(hover: hover) and (pointer: fine) {
    span:hover, span.noticed {
      background-color: var(--lighterShade);
       border-color: var(--emphasisColor);
    }
  }
  span.noticed {
    background-color: var(--lighterShade);
    &::after {
      background-color: var(--emphasisColor);
    }
  }

  
  
  
  span.given {
    pointer-events: none;
    cursor: default;
  }

  span:focus {
    background: var(--focusColor);
    border-color: var(--emphasisColor);
  }

  span > p {
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 0.1em;
    overflow: hidden;
    pointer-events: none; /* Don't interfere with ripple */

    transition: background 0.4s;
    will-change: bottom, opacity;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    z-index: 5;

    width:  clamp(1rem, calc(9vh * var(--fontFactor)), calc(4rem * var(--fontFactor)));
    
    &.insert {
      animation: fade 0.16s cubic-bezier(.35,1,1,1) forwards;
    }
    &.dismiss {
      animation: fade 0.12s cubic-bezier(.65,-0.4,0,0) forwards reverse;
    }
  }
}

#grid.correct {
  span {
    transition: background-color .2s ease-in, border .2s, outline-color 0.2s ease;
    pointer-events: none;
    cursor: default;
    background-color: transparent;
    outline-color: transparent;
    border-color: transparent;
    p {
      animation: correctFlash 0.9s forwards;
      animation-delay: 400ms;

    }
  }
  
}

@keyframes fade {
  from { bottom: 12px; opacity: 0; }
  to { bottom: 0px; opacity: 1; }
}

@keyframes correctFlash {
  0% { transform: scale(1); color: var(--baseColor); }
  50% { transform: scale(1.4); color: var(--correctColor); }
  100% {transform: scale(1.2); color: var(--correctColor); }
}


#propositions {
  position: relative;
  
  transition: translate 0.25s;
  
  font-size: clamp(1.5rem, 4vh, 2rem);

  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  margin-left: 12.5vw;
  padding: 0;

  text-align: center;
  list-style-type: none; /* no bullet points */

  scrollbar-width: none;
  overflow-x: auto;

  li {
    padding: 4px;
    width: 95%;

    &:first-child { margin-top: auto; }
    &:last-child { margin-bottom: auto; }

    + li {
      border-top: 1px solid #000000;
    }

    span.entry {
      cursor: pointer;
      padding-top: 4px;
      display: inline-block;
      position: relative;
      .mspace { margin-right: 0 !important; }
      + span {margin-left: 0.18em; }
    }
    span.entry::before {
      content: "";
      display: block;
      transform: scale(0.94);
      opacity: 0;
      border-radius: 5px;
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
      transition: opacity 0.225s ease-out;
      background-color: var(--focusColor);
      box-shadow: 0 2px 1px -1px #EEE, 0 0 1px 0px #DDD;
      border: 1px solid var(--darkShade);

      z-index: -1;
    }
    span.entry.correct {
      cursor: default;
    }

    @media (hover: hover) and (pointer: fine) {

      span.entry:not(.correct, .highlight):hover::before {
        opacity: 0.5;

        transition: opacity 0.1s ease-in;

      }
    }
    span.entry.highlight::before {
      opacity: 1;
      transition: opacity 0.1s ease-in;

    }
  }
}


#propositions::-webkit-scrollbar {
  display: none;
}
#domain::-webkit-scrollbar {
  display: none;
}

#wrap_grid_domain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wrap_toolbar_domain {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: -25px;
  align-items: center;
  width: var(--maxGridWidth);
}

#toolbar {
  display: flex;
  width: 90vw;
  flex-basis: 100%;

  #pencil, #undo, #redo {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
    border-radius: 50px;
    padding: 0;
  }
  #pencil {
    margin-right: auto;
    width:35px;
    height: 35px;
    transform: scale(0.9);
  }

  #pencil::after {
    content: "";
    background-image:url("../assets/PENCIL.svg");
    opacity: 0.45;
    transition: opacity 0.15s, filter 0.15s;
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  #undo, #redo {
    width: 32px;
    height: 32px;
  }

  #undo::after, #redo::after {
    content: "";
    transition: opacity 0.15s, filter 0.15s;
    background-size: 100% 100%;
    display: inline-block;
    height: 100%;
    width: 24px;
    height: 24px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
  }
  #undo::after {
    background-image:url("../assets/UNDO.svg");
  }
  #redo::after {
    background-image:url("../assets/REDO.svg");
  }

  @media (hover: hover) and (pointer: fine) {
    #pencil:hover, #undo:hover, #redo:hover {
      filter: drop-shadow( 0px 2px 1px rgba(0, 0, 0, .1));

    }
    #pencil:hover::after, #undo.usable:hover::after, #redo.usable:hover::after {
      opacity: 1;
    }

  }

  #undo:not(.usable), #redo:not(.usable) {
    cursor: default;

    &::after {
      opacity: 0.35;
    }

  }

  #undo.usable::after, #redo.usable::after {
    opacity: 0.6;
  }
}

#domain {
  padding: 0;
  display: flex;
  overflow-x: auto;
  align-items: center;
  position: relative;
  transition: opacity 1s;
  height: var(--domainButtonHeight);


  padding-top: calc(0.15 * var(--domainButtonHeight)); /* account for button visuals being 85% */


  button {
    width: 100%;
    min-width: max(40px, 8vh);
    height: 60px;
    position: relative;
    font-family: "computer modern serif";
    font-size: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    z-index: 0;
    border: none;
    background: transparent;
    padding: 0;




    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 85%;
      border-radius: 11px;
      background: linear-gradient(
        to left,
        var(--darkerShade) 0%,
        var(--darkShade) 8%,
        var(--darkShade) 92%,
        var(--darkerShade) 100%
      );

      filter: saturate(0.4);
      transition: filter 0.2s;
    }


    p {
      margin: 0;
      position: relative;
      z-index: 0;


      height: 85%;
      width: 100%;
      overflow: hidden;
      border: 1px solid black;
      box-sizing: border-box;
      
      border-radius: 11px;
      color: black;


      display: flex;
      align-items: center;
      justify-content: center;
      


      background-color: var(--lightestShade);
      will-change: bottom;
      bottom: 8px;
      transition: bottom 0.07s ease-out, background 0.1s;
    }
  }


  @media (hover: hover) and (pointer: fine) {
    button:hover p {
      bottom: 9px;
      background-color: var(--lighterShade);
    }
  }
  button:not(.pushed):focus p {
    transition: bottom 0.125s cubic-bezier(.3, .7, .4, 1.25), background 0.4s;


    background: var(--focusColor);
    bottom: 6px;


    zoom: 0.99;
  }


  button:focus::before {
    filter: brightness(0.75);
  }
  button.pushed p {
    transition: bottom 0.125s cubic-bezier(.3, .7, .4, 1.25), background 0.4s;


    bottom: 6px;


    zoom: 0.99;
  }


}

.ripple {
  background: var(--focusColor);
  width: 3px;
  height: 3px;
  border-radius: 100%;
  opacity: 1;
  position: absolute;
  transition: all 0.4s cubic-bezier(.38,.23,.69,1.02);
  pointer-events: none;
  will-change: transform;
  z-index: -1;
}

.ripple.run {
  transform: scale(170);
  opacity: 0 !important;
}

/* For ripple */
#grid span {
  position: relative;
  overflow: hidden;
}



/* Landscape layout */
@media (orientation: landscape) and (width > 900px), (height < 400px) {

  #menu { right: clamp(15px, 1.75vw, 22px); }

  #wrap_main {
    gap: 2.25vw;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50.1%, -50%);
  }

  @media (height < 700px) {
    #domain button { font-size: calc(2.5rem - (700px - 100vh)/25);}
  }

  #propositions {
    margin: 0;
    position: relative;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-height: 50vh;
    max-height: 80vh;
    align-items: center;
    flex-grow: 0.5;
  }


  #wrap_toolbar_domain {
    margin-top: calc(2.25vh - clamp(40px, 7.5vh, 58px));
    gap: 0;
  }
  #toolbar {
    left: calc(var(--widthFactor) * var(--axisFontSize));
    width: 100%;
    min-height: clamp(40px, 7.5vh, 58px);
    position: relative;
    top: clamp(40px, 7.5vh, 58px);

    #pencil {
      position: absolute;
      bottom: max(min(11px, calc(10px - (750px - 100vh)/12)), -7px);
      left: -43px;
      margin: 0;
    }
    #undo {
      position: absolute;

      right: -38px;
      bottom: max(min(30px, calc(30px - (750px - 100vh)/16)), 12px);
    }
    #redo {
      position: absolute;

      right: -38px;
      bottom: max(min(-2px, calc(-2px - (750px - 100vh)/16)), -17px);
    }
  }
  #domain {
    left: calc(var(--widthFactor) * var(--axisFontSize));
    width: 100%;
    height: 100%;
    gap: 5px;
  }

}


/* Portrait layout */
@media (orientation: portrait) and (height > 400px), (width < 900px) and (height > 400px) {
  #menu { right: 3vw; }

  #wrap_main {
    margin-top: -1px;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  #propositions {
    margin: 0;
    margin-bottom: 1vh;
    align-self: center;
    text-align: center;
    width: 70vw;
    height: 32.75vh; /* REDUCED WHEN <4 PROPOSITIONS */
    li {
      width: unset;
    }
  }

  #wrap_toolbar_domain {
    position: relative;
    top: 10px;
    width: 100%;
  }
  @media (height > 700px) {
    #wrap_grid_domain {
      gap: calc((100vh - 700px) / 6);
    }
  }

  #domain {
    width: 90vw;
    flex-direction: row;
    flex-basis: 100%;
    gap: 5px;
  }

  
  #wrap_axis_grid {
    right: var(--gridOffset);
  }
}
